@charset "utf-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.article {
    padding: 10px 20px;
}

.back-grey {
    background-color: rgba(0, 0, 0, 0.075);
}

.article-title {
    font-size: 35px;
}

/* top-article */
.top-article {
    text-align: center;
    border-left: 8px solid white;
    padding-bottom: 20px;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 1);

}

canvas{
    height: 100%;
    position: absolute;
    width: 100%;
}

#particle-canvas {
    width: 500px;
    height: 100%;
} 

.twitter-whole {
    display: inline-block;
    box-shadow: 0px 0px 20px -5px rgb(231, 231, 231);
    border-radius: 100%;
    margin-top: 30px;
}

.twitter-img {
    display: inline-block;
    border-radius: 100%;
    width: 240px;
    padding: 0;
}

.my-name {
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.24),2px 2px 0 rgba(255, 255, 255, 0.123), 2px 2px 5px #fafafa32, 3px 3px 10px #fafafa3d, 6px 6px 15px #fafafa55, 8px 8px 20px #fafafa57;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top-card {
    width: 80%;
    margin: 0px auto;
    height: 100%;
    box-shadow: 0px 0px 5px 1px rgb(77, 77, 77);
}

/* Products */
#Products {
    height: 100%;
    border-left: 8px solid #4385F3;
}

#Products ul {
    display: flex;
    justify-content: left;
}

#Products ul li {
    margin: 10px;
    flex-direction: column;
    width: 18%;
}


/* Profile */
#Profile {
    border-left: 8px solid#FFBB32;
}

/* Skill */
#Skill {
    border-left: 8px solid #00C950;
}

/* Link */
#Link {
    border-left: 8px solid #FF3646;
}
